<div class="toDos" *ngFor="let todo of toDos">
  <div class="toDo {{ todo.completed ? 'done' : '' }}">
    <div class="toDo-info">
      <div class="id">{{ toDos?.indexOf(todo) }}</div>
      <div class="todo-content">{{ todo.content }}</div>
    </div>
    <div class="toDo-icons">
      <fa-icon
        class="toDo-complete"
        [icon]="faCheck"
        (click)="completeToDo(todo)"
      ></fa-icon>

      <fa-icon
        class="delete-todo"
        [icon]="faTrash"
        (click)="deleteToDo(todo)"
      ></fa-icon>
    </div>
  </div>

  <!-- <div
    *ngFor="let toDo of toDos; let i = index"
    class="toDo {{ toDo.completed ? 'done' : '' }}"
  >
    <div class="toDo-info">
      <div class="id">{{ i }}</div>
      <div class="todo-content" (click)="toggleDone(i)">{{ toDo.content }}</div>
    </div>
    <div class="toDo-icons">
      <fa-icon
        class="toDo-complete"
        [icon]="faCheck"
        (click)="toggleDone(i)"
      ></fa-icon>

      <fa-icon
        class="delete-todo"
        [icon]="faTrash"
        (click)="deleteToDo(i)"
      ></fa-icon>
    </div>
  </div>  -->
</div>
