.toDo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 1rem;
  background-color: white;
  margin: 0.5rem 0;
  border-radius: 0.5rem;
}

.todo-content {
  font-size: 1.2rem;
  cursor: pointer;
}

.toDo.done .todo-content {
  text-decoration: line-through;
}

.toDo-info {
  display: flex;
  align-items: center;
}

.id {
  font-size: 1.2rem;
  padding: 0 1rem;
  font-weight: bold;
}

.toDo-icons {
  display: flex;
  background-color: white;
  margin: 0.5rem 0;
}

.delete-todo {
  margin: 0 1rem;
  padding: 1rem;
  font-size: 2rem;
  background-color: #ff6b47;
  color: white;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.delete-todo:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transform: scale(1.1);
}

.toDo-complete {
  padding: 1rem;
  font-size: 2rem;
  background-color: #0bd3a2;
  color: white;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.toDo-complete:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transform: scale(1.1);
}
